.hero {
  background: #000 url("../img/hero-citycampsac.jpg") no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
